/* content */
.content-header {
    padding: 0;
    margin: 0;
    
    width: 100%;
}
.main-content {
    padding: 0;
}

.view-btn {
    background-color: #3498db;
    color: white;
    border: none;
}

.remove-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
}





